Repository onekey-sec/unblob: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, statix, deadnix, taplo-format, cargo-fmt, cargo-clippy

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: ^tests/integration|\.patch|^nix/_sources
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: ".*\\.md"
      - id: end-of-file-fixer
      - id: check-json
      - id: check-toml
      - id: check-yaml
        args: ['--unsafe']
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: ruff
        name: Check python (ruff)
        language: system
        types_or: [python, pyi]
        require_serial: true
        entry: uv run ruff check --force-exclude
        args:
          [--output-format=full, --fix, --show-fixes, --exit-non-zero-on-fix]
      - id: ruff-format
        name: Format python (ruff)
        language: system
        types_or: [python, pyi]
        require_serial: true
        entry: uv run ruff format --force-exclude
      - id: nixfmt
        name: Format Nix (nixfmt)
        types: [nix]
        language: system
        require_serial: true
        entry: bash -c 'command -v nix && nix "$@" || echo "skipping nixfmt"' nix
        args:
          - --experimental-features
          - nix-command flakes
          - --accept-flake-config
          - fmt
      - id: ty
        name: Type check python (ty)
        language: system
        types_or: [python, pyi]
        require_serial: true
        entry: uv run ty check .
      - id: statix
        name: Lint Nix (statix)
        types: [nix]
        pass_filenames: false
        language: system
        entry: bash -c 'command -v nix && statix fix "$@" || echo "skipping statix"'
      - id: deadnix
        name: Lint Nix (deadnix)
        types: [nix]
        language: system
        entry: bash -c 'command -v nix && deadnix --edit "$@" || echo "skipping deadnix"'
      - id: taplo-format
        name: Format TOML (taplo)
        language: system
        types: [toml]
        entry: uv run taplo format
      - id: cargo-fmt # rustup component add rustfmt
        name: Check rust (cargo fmt)
        entry: cargo fmt --all --
        language: system
        types: [rust]
        pass_filenames: false
      - id: cargo-clippy # rustup component add clippy
        name: Check rust (cargo clippy)
        entry: cargo clippy --tests --all-features -- -D warnings
        language: system
        pass_filenames: false
        types: [rust]

  - repo: https://github.com/jendrikseipp/vulture
    rev: v2.14
    hooks:
      - id: vulture
        name: Check vulture

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.36.0
    hooks:
      - id: check-github-actions
        name: Check Github actions
      - id: check-github-workflows
        name: Check Github workflows

  - repo: https://github.com/renovatebot/pre-commit-hooks
    rev: 41.61.1
    hooks:
      - id: renovate-config-validator
        args: [--strict]

fix(doc): collapse repeated separators in fragment identifiers
  python/unblob/cli.py
Due: none

feat(handler): add support for D-Link pkg archives
  docs/handlers.md
  python/unblob/handlers/__init__.py
  python/unblob/handlers/archive/dlink/fpkg.py
  tests/handlers/archive/test_fpkg.py
  tests/integration/archive/dlink/fpkg/__input__/test.pkg
  tests/integration/archive/dlink/fpkg/__output__/test.pkg_extract/apple.txt
  tests/integration/archive/dlink/fpkg/__output__/test.pkg_extract/banana.txt
  tests/integration/archive/dlink/fpkg/__output__/test.pkg_extract/cherry.txt
  vulture_whitelist.py
Due: none

fix(rust): get rid of deprecated associated constant
  rust/src/sandbox/mod.rs
Due: cargo-fmt, cargo-clippy

chore(deps): migrate from p7zip to 7zip
  install-deps.sh
  overlay.nix
  package.nix
Due: nixfmt, statix, deadnix

feat(handler): Add support for QNAP networking device firmware
  python/unblob/handlers/__init__.py
  python/unblob/handlers/archive/qnap/_qnap.py
  python/unblob/handlers/archive/qnap/qnap_nas.py
  python/unblob/handlers/archive/qnap/qnap_networking.py
Due: none

feat: added d-link alpha encimg archive handler
  python/unblob/handlers/__init__.py
  python/unblob/handlers/archive/dlink/alpha_encimg.py
  tests/handlers/archive/test_alpha_encimg.py
  tests/integration/archive/dlink/alpha_encimg/__input__/test.enc
  tests/integration/archive/dlink/alpha_encimg/__output__/test.enc_extract/wrgac65_dlink.2015_dir842.bin
  tests/integration/archive/dlink/alpha_encimg_v2/__input__/test.bin
  tests/integration/archive/dlink/alpha_encimg_v2/__output__/test.bin_extract/0-144.unknown
  tests/integration/archive/dlink/alpha_encimg_v2/__output__/test.bin_extract/144-160.alpha_encimg_v2
  tests/integration/archive/dlink/alpha_encimg_v2/__output__/test.bin_extract/144-160.alpha_encimg_v2_extract/wapac30_dkbs_dap2610.bin
Due: none

refactor(handler): Move shared extractor logic into _qnap.py and address misc review feedback.
  python/unblob/handlers/archive/qnap/_qnap.py
  python/unblob/handlers/archive/qnap/qnap_nas.py
  python/unblob/handlers/archive/qnap/qnap_networking.py
Due: none

docs(handlers): Add QNAP Networking handler documentation
  docs/handlers.md
Due: none

feat: added d-link alpha encimg archive handler
  docs/handlers.md
  python/unblob/handlers/__init__.py
  python/unblob/handlers/archive/dlink/alpha_encimg.py
  tests/handlers/archive/test_alpha_encimg.py
  tests/integration/archive/dlink/alpha_encimg/alpha_encimg_v1/__input__/test.enc
  tests/integration/archive/dlink/alpha_encimg/alpha_encimg_v1/__output__/test.enc_extract/wrgac65_dlink.2015_dir842.bin
  tests/integration/archive/dlink/alpha_encimg/alpha_encimg_v2/__input__/test.bin
  tests/integration/archive/dlink/alpha_encimg/alpha_encimg_v2/__output__/test.bin_extract/wapac30_dkbs_dap2610.bin
Due: none

feat: add format handler for Xamarin compressed DLLs
  docs/handlers.md
  python/unblob/handlers/__init__.py
  python/unblob/handlers/executable/xalz.py
  tests/integration/executable/xalz/__input__/sample.xalz
  tests/integration/executable/xalz/__output__/sample.xalz_extract/sample.xalz.uncompressed
Due: none

chore(ci): build wheels for python3.10
  .github/workflows/CI.yml
Due: none

chore(ci): use native arm64 runners for nix builds
  .github/workflows/build-nix.yml
Due: none

chore(ci): upgrade macos runners from macos-15 to macos-26
  .github/workflows/CI.yml
  .github/workflows/build-nix.yml
Due: none

chore(nix): fail tests if they do not pass within 10 minutes
  package.nix
Due: nixfmt, statix, deadnix

Revert "fix(deps): update rust crate pyo3 to 0.28.0"
  Cargo.lock
  rust/Cargo.toml
Due: taplo-format

feat(docs): add contribution guide
  CONTRIBUTING.md
Due: none

chore: split license file into LICENSE and NOTICE
  LICENSE
  NOTICE
Due: none

feat(docs): improve README file
  .gitattributes
  README.md
  docs/demo.gif
  docs/demo.svg
Due: none

fix(ci): set persist-credentials: false on all checkout steps
  .github/workflows/codeql-analysis.yml
Due: none

chore(dev): add pinact to dev shell
  flake.nix
Due: nixfmt, statix, deadnix

fix(ci): add top-level permissions block to all workflows
  .github/workflows/build-nix.yml
  .github/workflows/check-mergeable.yml
  .github/workflows/documentation.yml
Due: none

fix(ci): replace maus007/docker-run-action-fork with inline docker run
  .github/workflows/CI.yml
Due: none

chore(deps): add cargo deny
  .github/workflows/CI.yml
  .pre-commit-config.yaml
  deny.toml
  flake.nix
Due: nixfmt, statix, deadnix, taplo-format

chore(deps): pin rust toolchain with rust-toolchain.toml
  rust-toolchain.toml
Due: taplo-format

fix(ci): pin all GitHub Actions to full commit SHAs
  .github/actions/setup-dependencies/action.yml
  .github/actions/setup-git-lfs/action.yml
  .github/workflows/CI.yml
  .github/workflows/build-nix.yml
  .github/workflows/check-mergeable.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/documentation.yml
  .github/workflows/scorecard.yml
Due: none

chore(deps): enable OSV vulnerability alerts in Renovate
  renovate.json
Due: none

feat(ci): create GitHub Release on tag push
  .github/workflows/CI.yml
Due: none

feat(handler): Add support for QNAP networking device firmware
  docs/handlers.md
  python/unblob/handlers/__init__.py
  python/unblob/handlers/archive/qnap/_qnap.py
  python/unblob/handlers/archive/qnap/qnap_nas.py
  python/unblob/handlers/archive/qnap/qnap_networking.py
  tests/integration/archive/qnap/qnap_networking/__input__/sample.img
  tests/integration/archive/qnap/qnap_networking/__output__/sample.img_extract/sample.img.decrypted
  tests/integration/archive/qnap/qnap_networking/__output__/sample.img_extract/sample.img.decrypted_extract/gzip.uncompressed
  tests/integration/archive/qnap/qnap_networking/__output__/sample.img_extract/sample.img.decrypted_extract/gzip.uncompressed_extract/testfile.txt
Due: none

fix(nix): pin erofs-utils to 1.8.10
  overlay.nix
Due: nixfmt, statix, deadnix

fix(pool): coordinate shutdown on signals
  python/unblob/pool.py
  tests/test_pool.py
Due: none

fix(pool): fail fast when a worker dies
  python/unblob/pool.py
  tests/test_pool.py
Due: none

fix(pool): handle zombie processed on WorkerDiedError during shutdown
  python/unblob/pool.py
Due: none

Potential fix for code scanning alert no. 388: Unreachable code
  python/unblob/pool.py
Due: none
